<ion-header>
  <ion-navbar>
    <ion-title>{{'Settings' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon *ngIf="isChecked" name="mic" item-start></ion-icon>
    <ion-icon *ngIf="!isChecked" name="mic-off" item-start></ion-icon>
    <ion-label>{{'Voice Notification' | translate}}</ion-label>
    <ion-toggle color="gpsc" [(ngModel)]="notif" (ngModelChange)="setNotif(notif)"></ion-toggle>

    <!-- <ion-checkbox color="gpsc" [(ngModel)]="notif" (click)="setNotif(notif)" item-right></ion-checkbox> -->
  </ion-item>
  <ion-item (tap)="rootpage()">
    <ion-icon name="checkmark-circle-outline" item-start></ion-icon>
    <ion-label>{{'Default Page' | translate}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="map" item-start></ion-icon>
    <ion-label color="dark">{{'Map Type' | translate}}</ion-label>
    <ion-select [(ngModel)]="mapKey">
      <ion-option *ngFor="let mapKey of maps; let idx = index" [value]="mapKey" (ionSelect)="onChangeMap(mapKey)"
        [selected]="selectedMapKey === mapKey ? selectedMapKey : (idx==0).toString()">{{ mapKey }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="custom-fuel" item-start style="font-size: 1em;"></ion-icon>
    <ion-label color="dark">{{'Fuel Unit' | translate}}</ion-label>
    <ion-select [(ngModel)]="fuelKey">
      <ion-option *ngFor="let fuelKey of fuels" [value]="fuelKey" (ionSelect)="onChangeFuel(fuelKey)"
        [selected]="islogin.fuel_unit === fuelKey">{{ fuelKey }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="flag" item-start></ion-icon>
    <ion-label color="dark">{{'Language' | translate}}</ion-label>
    <ion-select [(ngModel)]="lankey" (ionChange)="setLanguage(lankey)">
      <ion-option *ngFor="let lan of languages" [value]="lan.key" [selected]="lankeyname === lan.key">{{ lan.name }}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="moon" item-start></ion-icon>
    <ion-label color="dark">{{'Night Mode' | translate}}</ion-label>
    <ion-toggle color="gpsc" [(ngModel)]="nightMode" (ngModelChange)="update($event)"></ion-toggle>
  </ion-item>

  <ion-item>
    <!-- <img item-start src="assets/icon/traffic-light.png" style="width: 1.65em;"  /> -->
    <ion-icon name="walk" item-start></ion-icon>
    <ion-label color="dark">{{'Traffic Mode' | translate}}</ion-label>
    <ion-toggle color="gpsc" [(ngModel)]="trafficMode" (ngModelChange)="trafficUpdate($event)"></ion-toggle>
  </ion-item>

  <!-- <ion-item>

    <ion-icon name="walk" item-start></ion-icon>
    <ion-label color="dark">{{'Relay Timer' | translate}}</ion-label>
    <ion-toggle color="gpsc" [(ngModel)]="ImmobilizeMode" (ngModelChange)="ImmobilizeUpdate($event)"></ion-toggle>
  </ion-item> -->

  <ion-item>
    <!-- <img item-start src="assets/icon/traffic-light.png" style="width: 1.65em;"  /> -->
    <ion-icon name="car" item-start></ion-icon>
    <ion-label color="dark">{{'Display Vehicle Name' | translate}}</ion-label>
    <ion-toggle color="gpsc" [(ngModel)]="vehName" (ngModelChange)="vehNameUpdate($event)"></ion-toggle>
  </ion-item>

  <ion-item (click)="showAlert()">
    <ion-icon name="lock" item-start></ion-icon>
    <ion-label>{{'Set Immobilize Password' | translate}}</ion-label>
  </ion-item>

  <!-- <ion-item (click)="notifSet()" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
    <ion-icon name="notifications-outline" item-start></ion-icon>
    <ion-label color="dark">{{'Notification Settings' | translate}}</ion-label>
  </ion-item> -->
  <ion-item (click)="notifSet()">
    <ion-icon name="notifications-outline" item-start></ion-icon>
    <ion-label color="dark">{{'Notification Settings' | translate}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="custom-lawyer" item-start></ion-icon>
    <ion-label color="dark">{{'Measurement Type' | translate}}</ion-label>
    <ion-select [(ngModel)]="measurementType" (ionChange)="onChangeMeasure(measurementType)">
      <ion-option value="MKS" [selected]="measurementType === 'MKS' ? true : false">MKS</ion-option>
      <ion-option value="FPS" [selected]="measurementType === 'FPS' ? true : false">FPS</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="cash" item-start></ion-icon>
    <ion-label color="dark">{{'Currency Setting' | translate}}</ion-label>
    <ion-select [(ngModel)]="currencyValue" (ionChange)="onChangeCurrency(currencyValue)">
      <ion-option *ngFor="let item of currencyArray" [value]="item.currencyVal">{{ item.country }}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>
